################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game1.Web/bin/Debug/net7.0
/Game1.Web/obj
/.vs/OnlineGame
/.vs/ProjectEvaluation
