@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel" aria-labelledby="dashboard-tab" tabindex="0">
    <!-- 1. dashboard section -->
    <div class="row mt-3 mt-lg-0">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="p-4 theme-transparent-bg theme-border-radius text-center">
                <img src="/assets/images/dashboard/profile-img.png" alt="images" class="rounded-circle">
                <h5 class="my-3"><a href="#">Al Capone</a></h5>
                <p class="mb-0">Role: Site Admin</p>
            </div>
        </div>
        <!-- repetable -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="p-4 theme-transparent-bg theme-border-radius text-center">
                <img src="/assets/images/icons/dashboard-sidebar-icon-1.png" alt="images" class="rounded-circle">
                <div class="d-flex justify-content-between mt-3">
                    <p class="mb-0">Cash On Hand</p>
                    <h5 class="my-0">PHP 5949.00</h5>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <a href="javascript:void(0)" class="mb-0">Withdraw</a>
                    <a href="javascript:void(0)" class="mb-0">Deposit</a>
                </div>
            </div>
        </div>
        <!-- repetable -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="p-4 theme-transparent-bg theme-border-radius text-center">
                <figure class="mb-3 hero-image">
                    <img src="/assets/images/icons/dashboard-sidebar-icon-2.png" alt="images" class="rounded-circle">
                </figure>
                <h5 class="m-0">Need Help?</h5>
                <p class="mt-3 mb-0">write at info@example.com</p>
            </div>
        </div>
        <!-- repetable -->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="theme-box-shadow theme-border-radius p-2 theme-bg-white theme-transparent-bg">
                        <div class="row g-0">
                            <div class="col-4 overflow-hidden theme-border-radius">
                                <div class="overflow-hidden">
                                    <figure class="mb-0">
                                        <img src="/assets/images/icons/dashboard-icon01.png" class="img-fluid"
                                             alt="dashboard icon 01" title="dashboard icon 01">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="ps-md-0 ps-xxl-3 d-flex justify-content-between align-items-center h-100">
                                    <div class="d-flex flex-column">
                                        <span class="d-flex fw-bold">Total Match</span>
                                        <span class="fw-bold price theme-text-secondary">
                                            699
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dashboard features -->
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="theme-box-shadow theme-border-radius p-2 theme-bg-white theme-transparent-bg">
                        <div class="row g-0">
                            <div class="col-4 overflow-hidden theme-border-radius">
                                <div class="overflow-hidden">
                                    <figure class="mb-0">
                                        <img src="/assets/images/icons/dashboard-icon02.png" class="img-fluid"
                                             alt="dashboard icon 01" title="dashboard icon 01">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="ps-md-0 ps-xxl-3 d-flex justify-content-between align-items-center h-100">
                                    <div class="d-flex flex-column">
                                        <span class="d-flex fw-bold">Win Chance</span>
                                        <span class="fw-bold price theme-text-secondary">
                                            91%
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dashboard features -->
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="theme-box-shadow theme-border-radius p-2 theme-bg-white theme-transparent-bg">
                        <div class="row g-0">
                            <div class="col-4 overflow-hidden theme-border-radius">
                                <div class="overflow-hidden">
                                    <figure class="mb-0">
                                        <img src="/assets/images/icons/dashboard-icon03.png" class="img-fluid"
                                             alt="dashboard icon 03" title="dashboard icon 03">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="ps-md-0 ps-xxl-3 d-flex justify-content-between align-items-center h-100">
                                    <div class="d-flex flex-column">
                                        <span class="d-flex fw-bold">Prizes Pool</span>
                                        <span class="fw-bold price theme-text-secondary">
                                            210
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dashboard features -->
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="theme-box-shadow theme-border-radius p-2 theme-bg-white theme-transparent-bg">
                        <div class="row g-0">
                            <div class="col-4 overflow-hidden theme-border-radius">
                                <div class="overflow-hidden">
                                    <figure class="mb-0">
                                        <img src="/assets/images/icons/dashboard-icon04.png" class="img-fluid"
                                             alt="dashboard icon 04" title="dashboard icon 04">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="ps-md-0 ps-xxl-3 d-flex justify-content-between align-items-center h-100">
                                    <div class="d-flex flex-column">
                                        <span class="d-flex fw-bold">Offer Amount</span>
                                        <span class="fw-bold price theme-text-secondary">
                                            <i class="bi bi-currency-php"></i>
                                            10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dashboard features -->
            </div>
            <!-- recent activity section -->
            <div class="d-flex flex-column theme-border-radius theme-bg-white theme-box-shadow mb-4">
                <!-- my wallet section -->
                <div class="d-flex justify-content-between p-3 wallet-head">
                    <span class="fs-5 fw-bold">Recent Activity</span>
                    <span class="font-small">Recent 10 Activity</span>
                </div>
                <!-- my booking section -->
                <div class="p-0 p-lg-3">
                    <div class="tble_wrap">
                        <div class="table-responsive theme-border-radius">
                            <!-- load table -->
                            <table class="table table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Type</th>
                                        <th>Points</th>
                                        <th>Amount</th>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Deposit</td>
                                        <td>2500</td>
                                        <td><img src="/assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Withdraw</td>
                                        <td>1500</td>
                                        <td><img src="/assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Commision</td>
                                        <td>1700</td>
                                        <td><img src="/assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Deposit</td>
                                        <td>2100</td>
                                        <td><img src="/assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Withdraw</td>
                                        <td>1900</td>
                                        <td><img src="assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                    <tr>
                                        <td>2023-01-05 15:33:53</td>
                                        <td>Commision</td>
                                        <td>1500</td>
                                        <td><img src="assets/images/icons/btc.png" alt="icon"> 0.00016556</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- recent transaction section -->
            <div class="d-flex flex-column theme-border-radius theme-bg-white theme-box-shadow">
                <!-- my wallet section -->
                <div class="d-flex justify-content-between p-3 wallet-head">
                    <span class="fs-5 fw-bold">Recent Transaction</span>
                    <span class="font-small">Recent 10 Transaction</span>
                </div>
                <!-- my transaction section -->
                <div class="p-0 p-lg-3">
                    <div class="tble_wrap">
                        <div class="table-responsive theme-border-radius">
                            <!-- with table -->
                            <div class="container-fluid">
                                <table id="tbl-loads" class="table table-hover table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Sl no.</th>
                                            <th>Transaction ID</th>
                                            <th>Transaction Type</th>
                                            <th>Transaction amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Deposit</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>02</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Refer com.</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>03</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Deposit</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>04</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Refer com.</td>
                                            <td>$754.00</td>
                                            <td><span class="text-danger">Canceled</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>05</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Deposit</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>06</td>
                                            <td>#LT2906HM475F</td>
                                            <td>Refer com.</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>07</td>
                                            <td>#LT2906HM475F</td>
                                            <td>USDT</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>08</td>
                                            <td>#LT2906HM475F</td>
                                            <td>USDT</td>
                                            <td>$754.00</td>
                                            <td><span class="text-danger">Canceled</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>09</td>
                                            <td>#LT2906HM475F</td>
                                            <td>USDT</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>#LT2906HM475F</td>
                                            <td>USDT</td>
                                            <td>$754.00</td>
                                            <td><span class="text-success">CONFIRMED</span></td>
                                            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>