<table class="table table-hover" width="100%">
    <tbody>
        <tr>
            <th>Date/Time</th>
            <th>User Name</th>
            <th>Contact</th>
            <th>Sponsor</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>2023-01-05 15:33:53</td>
            <td>paquito555</td>
            <td>092121</td>
            <td>bossing123</td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>
            
        </tr>
        <tr>
            <td>2023-01-05 15:33:53</td>
            <td>kapniel</td>
            <td>09818181</td>
            <td>bossing123</td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>

        </tr>
        <tr>
            <td>2023-01-05 15:33:53</td>
            <td>blayt_howard</td>
            <td>092121</td>
            <td>bossing123</td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>

        </tr>
        <tr>
            <td>2023-01-05 15:33:53</td>
            <td>onyok</td>
            <td>093423345</td>
            <td>lodicake</td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>

        </tr>
        <tr>
            <td>2023-01-05 15:33:53</td>
            <td>gagamboy</td>
            <td>09dasdas</td>
            <td>bossing123</td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>

        </tr>
        
    </tbody>
</table>