<table id="tbl-loads" class="table table-hover table-bordered" width="100%">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>UserName</th>
            <th>Transaction Type</th>
            <th>Transaction amount</th>
            <th>Status</th>
            <th>Approver</th>
            <th>DT Approved</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12-01-23 10:30 A.M</td>
            <td>kapniel</td>
            <td>GCASH</td>
            <td>PHP 754.00</td>
            <td><span class="text-success">CONFIRMED</span></td>
            <td>bossing123</td>
            <td>12-01-23 11:30 A.M</td>
            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i> View</span></td>
        </tr>
        <tr>
            <td>12-01-23 10:30 A.M</td>
            <td>boyet</td>
            <td>Refer com.</td>
            <td>$754.00</td>
            <td><span class="text-success">CONFIRMED</span></td>
            <td>onyok111</td>
            <td>12-01-23 11:30 A.M</td>
            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i> View</span></td>
        </tr>
        <tr>
            <td>12-01-23 10:30 A.M</td>
            <td>sonya</td>
            <td>Deposit</td>
            <td>$754.00</td>
            <td><span class="text-success">CONFIRMED</span></td>
            <td>juswa</td>
            <td>12-01-23 11:30 A.M</td>
            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i> View</span></td>
        </tr>
        <tr>
            <td>12-01-23 10:30 A.M</td>
            <td>tekla</td>
            <td>Refer com.</td>
            <td>$754.00</td>
            <td><span class="text-danger">PENDING</span></td>
            <td><span class="theme-text-secondary"><i class="bi bi-eye-fill"></i> Review</span></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-success rounded-0">Approve</a>
                <a class="btn btn-sm btn-danger rounded-0">Deny</a>
            </td>
        </tr>
    </tbody>
</table>