<!-- breadcrumb section -->
<div class="breadcrumb-area">
    <div class="container">
        <!-- row -->
        <div class="row ">
            <!-- col -->
            <div class="col-12 col-lg-4 align-self-center">
                <!-- breadcrumb -->
                <div class="page-breadcrumb">
                    <div class="mb-3">
                        <ul class="list">
                            <li><a href="index.html">Home</a></li>
                            <li>Betting Details</li>
                        </ul>
                    </div>
                    <h2 class="display-4 mb-0 theme-text-white font-black">Last Call Game #100</h2>
                </div>
            </div>
            <div class="col-12 col-lg-8 align-self-center text-center">
                <figure class="mb-0 mt-5 pt-0 pt-lg-5 hero-image">
                    <img src="/assets/images/games/jili.png" class="img-fluid" alt="hero image">
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- currency bett detail section -->
<section class="pt-5 currency-bet-detail">
    <div class="container">
        <!-- currency bett content -->
        
        <div class="d-flex flex-column flex-lg-row theme-transparent-bg theme-border-radius align-items-center justify-content-between p-4">
            <div class="mb-3 mb-lg-0">
                <h5 class="display-5 mb-3 font-black">COLOR OF THE DAY RED X 10</h5>
            </div>
        </div>
        <!-- bett detail content -->
     
       

        <!-- 1x bet strip -->
        <div class="row mt-3 justify-content-center animate__animated wow animate__fadeInUp">
            <div class="col-12 col-lg-12">
                <div class="d-flex flex-column flex-lg-row theme-transparent-bg theme-border-radius align-items-center justify-content-between p-4">
                    <div>
                        <button class="btn rounded-pill custom-link font-small" type="button">
                            <span>50</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn rounded-pill custom-link font-small" type="button">
                            <span>100</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn rounded-pill custom-link font-small" type="button">
                            <span>300</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn rounded-pill custom-link font-small" type="button">
                            <span>500</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn rounded-pill custom-link font-small" type="button">
                            <span>1000</span>
                        </button>
                    </div>
                    <div>
                        <input type="text" class="form-control d-flex p-2 rounded-pill theme-border theme-transparent-bg" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="d-flex flex-column flex-lg-row theme-transparent-bg theme-border-radius align-items-center justify-content-between p-4">
                    
                    <div>
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:blue !important">
                            <span style="color:black; font-size:medium; font-weight:bolder">BLUE</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:gray !important">
                            <span style="color:black; font-size:medium; font-weight:bolder">GRAY</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:red !important">
                            <span style="color:black; font-size:medium; font-weight:bolder">RED</span>
                            </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="d-flex flex-column flex-lg-row theme-transparent-bg theme-border-radius align-items-center justify-content-between p-4">

                    <div class="text-center">
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:yellow !important">
                            <span style="color:black; font-size:medium; font-weight:bolder">YELLOW</span>
                        </button>
                    </div>
                    <div class="text-center">
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:white !important">
                            <span style="color:black; font-size:medium; font-weight:bolder">WHITE</span>
                        </button>
                    </div>
                    <div class="text-center">
                        
                        
                        <button class="btn-bet rounded-pill custom-link font-small" type="button" style="background-color:pink !important">
                            
                            <span style="color:black; font-size:medium; font-weight:bolder">PINK</span>
                            
                        </button>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="d-flex flex-column theme-border-radius theme-bg-white theme-box-shadow">
                    <!-- my wallet section -->
                    <div class="d-flex justify-content-between p-3 wallet-head">
                        <span class="fs-5 fw-bold">GAME NO : 100 RESULT</span>
                    </div>
                    <!-- my transaction section -->
                    <div class="mt-2">
                        <div class="table-responsive theme-border-radius">
                            <!-- transaction table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>COLOR</th>
                                        <th>BET</th>
                                        <th>X</th>
                                        <th>WIN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color:blue">BLUE</td>
                                        <td style="color:black">200</td>
                                        <td style="color:black">0</td>
                                        <td style="color:black">0</td>
                                    </tr>
                                    <tr>
                                        <td style="color:gray">GRAY</td>
                                        <td style="color:black">0</td>
                                        <td style="color:black">1</td>
                                        <td style="color:black">0</td>
                                    </tr>
                                    <tr>
                                        <td style="color:red">RED</td>
                                        <td style="color:black">500</td>
                                        <td style="color:black">0</td>
                                        <td style="color:black">0</td>
                                    </tr>
                                    <tr>
                                        <td style="color:yellow;background-color:gray">YELLOW</td>
                                        <td style="color:black;background-color:gray">0</td>
                                        <td style="color:black;background-color:gray">2</td>
                                        <td style="color:black; background-color:gray">0</td>
                                    </tr>
                                    <tr style="background-color:gray">
                                        <td style="color:white;background-color:gray">WHITE</td>
                                        <td style="color:black;background-color:gray">200</td>
                                        <td style="color:black;background-color:gray">3</td>
                                        <td style="color:black;background-color:gray">600</td>
                                    </tr>
                                    <tr>
                                        <td style="color:pink">PINK</td>
                                        <td style="color:black">200</td>
                                        <td style="color:black">0</td>
                                        <td style="color:black">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="d-flex flex-column flex-lg-row theme-transparent-bg theme-border-radius align-items-center justify-content-between p-4">
                    
                </div>
                <!-- table -->
                <div class="table-responsive theme-border-radius mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-start"><i class="bi bi-person-circle me-2"></i>14 User</th>
                                <th class="text-end">375,68<img src="/assets/images/icons/btc02.png" alt="icon" class="ms-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start">
                                    <img src="/assets/images/player/player01.png" alt="player" class="me-2">Colleain
                                </td>
                                <td class="text-end">
                                    5,21<img src="/assets/images/icons/btc.png" alt="icon" class="ms-2">
                                </td>
                            </tr>
                            <!-- repetable -->
                            <tr>
                                <td class="text-start">
                                    <img src="/assets/images/player/player02.png" alt="player" class="me-2">Asadin
                                </td>
                                <td class="text-end">
                                    5,21<img src="/assets/images/icons/btc.png" alt="icon" class="ms-2">
                                </td>
                            </tr>
                            <!-- repetable -->
                            <tr>
                                <td class="text-start">
                                    <img src="/assets/images/player/player03.png" alt="player" class="me-2">Owanqis
                                </td>
                                <td class="text-end">
                                    5,21<img src="/assets/images/icons/btc.png" alt="icon" class="ms-2">
                                </td>
                            </tr>
                            <!-- repetable -->
                            <tr>
                                <td class="text-start">
                                    <img src="/assets/images/player/player04.png" alt="player" class="me-2">Akilens
                                </td>
                                <td class="text-end">
                                    5,21<img src="/assets/images/icons/btc.png" alt="icon" class="ms-2">
                                </td>
                            </tr>
                            <!-- repetable -->
                            <tr>
                                <td class="text-start">
                                    <img src="/assets/images/player/player05.png" alt="player" class="me-2">Sinhay
                                </td>
                                <td class="text-end">
                                    5,21<img src="/assets/images/icons/btc.png" alt="icon" class="ms-2">
                                </td>
                            </tr>
                            <!-- repetable -->
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
  </section>

<script>
    const btnBet = document.querySelectorAll('.btn-bet');
    console.log('click')
    btnBet.forEach(btnB => {
        btnB.addEventListener('click', () => {
            document.querySelector('.shadow-button')?.classList.remove('shadow-button');
            btnB.classList.add('shadow-button')
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all anchor elements on the page
        var links = document.querySelectorAll('a');

        // Attach a click event listener to each anchor element
        links.forEach(function (link) {
            link.addEventListener('click', function (event) {
                // Prevent the default behavior of the link (e.g., navigating to a new page)
                event.preventDefault();

                // Get the href and text content of the clicked link
                var href = link.getAttribute('href');
                var text = link.innerText;

                // Display the information (you can modify this part based on your needs)
                alert('Href: ' + href + '\nText: ' + text);
            });
        });
    });
</script>