@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="games py-5 theme-gradient-bg">

    <div class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg-12 animate__animated wow animate__fadeInUp">
                <div class="head-content text-center">
                    <h1 class="display-5 mb-3 theme-text-white font-black max"><span style="color:green">STREAMING HERE</span></h1>
                    <h1 class="display-5 mb-3 theme-text-white font-black max">LAST CALL GAME  <b style="color:yellow">#10</b></h1>
                </div>
            </div>
            <div class="col-12 animate__animated wow animate__fadeInUp">
                <div class="row my-5">
                    <div class="col-12 col-sm-6 col-lg-4">
                        
                        <div class="game-card theme-border-radius theme-border text-center py-game mb-4">
                            <button type="submit" class="btn1"></button>
                            @* <figure class="mb-0 icon-bg">
                            <img src="/assets/images/games/fantasy-game-icon.png" class="img-fluid" alt="Fantasy Games">
                            </figure>
                            <h3 class="h5 fw-bold theme-text-white mb-0 mt-3">Fantasy Games</h3> *@

                        </div>
                    </div>
                    <!-- repetable -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        
                        <div class="game-card theme-border-radius theme-border text-center py-game mb-4">
                            <button type="submit" class="btn2"></button>
                            @* <figure class="mb-0 icon-bg"> *@

                            @* <img src="/assets/images/games/rummy-game-icon.png" class="img-fluid" alt="Fantasy Games"> *@
                            @* </figure>  *@

                        </div>
                    </div>
                    <!-- repetable -->
                    <div class="col-12 col-sm-6 col-lg-4">

                        <div class="game-card theme-border-radius theme-border text-center py-game mb-4">
                            <button type="submit" class="btn3"></button>
                            @* <figure class="mb-0 icon-bg"> *@

                            @* <img src="/assets/images/games/rummy-game-icon.png" class="img-fluid" alt="Fantasy Games"> *@
                            @* </figure>  *@

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-card theme-border-radius theme-border text-center py-game">
                            <button type="submit" class="btn4"></button>
                            @* <figure class="mb-0 icon-bg"> *@

                            @* <img src="/assets/images/games/rummy-game-icon.png" class="img-fluid" alt="Fantasy Games"> *@
                            @* </figure>  *@

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">

                        <div class="game-card theme-border-radius theme-border text-center py-game mb-4">
                            <button type="submit" class="btn5"></button>
                            @* <figure class="mb-0 icon-bg"> *@

                            @* <img src="/assets/images/games/rummy-game-icon.png" class="img-fluid" alt="Fantasy Games"> *@
                            @* </figure>  *@

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">

                        <div class="game-card theme-border-radius theme-border text-center py-game mb-4">
                            <button type="submit" class="btn6"></button>
                            @* <figure class="mb-0 icon-bg"> *@

                            @* <img src="/assets/images/games/rummy-game-icon.png" class="img-fluid" alt="Fantasy Games"> *@
                            @* </figure>  *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#div-fantasy').click(function () {
        console.log('Picture Laki');
        $('#div-fantasy').animate({ height: "300px" });
    });
</script>