@model RegistrationViewModel
<!doctype html>




    <!-- breadcrumb section -->
    <div class="breadcrumb-area">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12 col-lg-6 align-self-center">
                    <!-- breadcrumb -->
                    <div class="page-breadcrumb">
                        <div class="mb-3">
                            <ul class="list">
                                <li><a href="index.html">Home</a></li>
                                <li>Admin</li>
                            </ul>
                        </div>
                        <h2 class="display-4 mb-0 theme-text-white font-black">Register as Player</h2>
                    </div>
                </div>
                @* <div class="col-12 col-lg-6 align-self-center text-center">
                <figure class="mb-0 mt-5 pt-0 pt-lg-5 hero-image">
                <img src="/assets/images/breadcrumb/signup.png" class="img-fluid " alt="hero image">
                </figure>
                </div> *@
            </div>
        </div>
    </div>
    <!-- signup page section -->
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <div class="theme-box-shadow theme-border-radius theme-transparent-bg p-4 p-lg-5">
                        <!-- signup content -->
                        <div class="row">
                            <div class="col-12">
                                <form class="needs-validation" method="post" asp-action="SignUp">
                                    <div class="mb-3">
                                        <label asp-for="referralLink" class="form-label fw-bold">Referral Link</label>
                                        <input asp-for="referralLink" type="text" class="form-control form-control-th rounded-pill" id="floatingInput"
                                               placeholder="First Name">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="FirstName" class="form-label fw-bold">First Name</label>
                                        <input asp-for="FirstName" type="text" class="form-control form-control-th rounded-pill" id="floatingInput"
                                               placeholder="First Name">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="LastName" class="form-label fw-bold">Last Name</label>
                                        <input asp-for="LastName" type="text" class="form-control form-control-th rounded-pill" id="floatingInput"
                                               placeholder="Last Name">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="UserName" class="form-label fw-bold">User Name</label>
                                        <input asp-for="UserName" type="text" class="form-control form-control-th rounded-pill" id="floatingInput2"
                                               placeholder="User Name">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Contact" class="form-label fw-bold">Number</label>
                                        <input asp-for="Contact" type="number" class="form-control form-control-th rounded-pill" id="floatingInput3"
                                               placeholder="Number">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label fw-bold">Password</label>
                                        <input asp-for="Password" type="password" class="form-control form-control-th rounded-pill" id="floatingPassword"
                                               placeholder="Password">
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="ConfirmPass" class="form-label fw-bold">Confirm Password</label>
                                        <input asp-for="ConfirmPass" type="password" class="form-control form-control-th rounded-pill" id="floatingPassword2"
                                               placeholder="Password">
                                    </div>
                                    
                                    <br />
                                    <br />
                                    <div class="mb-3">
                                        <button type="submit"
                                                class="rounded-pill btn custom-btn-primary primary-btn-effect d-flex w-100 justify-content-center align-items-center">
                                            ADD
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>